<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogDay" value="${date:format=dd}"/>
  <variable name="LogDir" value="log"/>
  
  <!-- the targets to write to -->
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/${LogDir}/log.${LogDay}.txt" layout="${longdate} {logger:shortName=true} ${message} ${exception:format=tostring}"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a"/>
    <!--<target name="debugger" xsi:type="Debugger" layout="${logger:shortName=true}:${message} ${exception:format=tostring}"/>-->
    <target name="debugger" xsi:type="Debugger" 
            layout="${uppercase:${level}}|${logger:shortName=true}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
    <target name="console" xsi:type="Console"
            layout="${uppercase:${level}}|${logger:shortName=true}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
    <!-- write logs to file  -->
    <!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <!--<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="debugger" />
    <logger name="*" minlevel="Info" writeTo="console" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>